@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Contoso University</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Tere tulemast Contoso Universitisse</h2>
        <p>
           Trevor Metsmaker
            TARpe23
            2024/2025
        </p>
    </div>
    <div class="col-md-4">
        <h2>Õpid palju asju</h2>
        <p>
            nagu näiteks MVC web äpi tegemist
        </p>
        <p>
            <a class="btn btn-default" href="https://github.com/trevormetsmaaker">Minu github</a>
        </p>
    </div>
    <div class="col-md-4">
        <h2>kolmas paan</h2>
        <p>
            KEYBOARDSMASH
            WPRIGJNAER
            BHQAERTHB
            AERTHB
            AET
            HNBAE
            TNHB
            AETN
        </p>
    </div>
</div>
